body {
  font-family: Arial;
  padding: 10px;
}

.Header {
  display: flex;
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
.search {
  height: 40px;
  width: 400px;
  border-radius: 40px;
}
.Bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextfooter {
  display: flex;
  
}
